@model IEnumerable<CMS.Models.MusicDetails>

@{
    ViewData["Title"] = "Music List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Music List</h2>


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpotifyLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearReleased)
            </th>
            <th>
               (Average Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
    
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpotifyLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageFilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearReleased)
            </td>
            
            <td>
                @Component.InvokeAsync("MusicRating", new { entityId = item.EntityId }).Result

            </td>
            
            <td>
                @Component.InvokeAsync("MusicRater", new { entityId = item.EntityId }).Result
            </td>
        </tr>
}
    </tbody>
</table>
