@model IEnumerable<MovieDetails>

@{
    ViewData["Title"] = "Movie List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<h2>
    Admin - Movie List <a asp-action="CreateMovie" class="ui-button">Create New</a>
</h2>


<hr />
@if (!Model.Any())
{
    <h3>Nothing here yet!</h3>
}
else
{

    <table class="table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EntityId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImdbLink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageFilePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImdbRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YearReleased)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntityId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImdbLink)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageFilePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImdbRating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearReleased)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditMovie", new { id = item.EntityId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<hr />
<div>
    @Html.ActionLink("Back to Admin Home", "Index", "Admin")
</div>
