@model IEnumerable<CMS.Models.User>

@{
    ViewData["Title"] = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<h2>Admin - Users</h2>

<p>
    <a asp-action="CreateUser">Create New User</a>
</p>
<hr />

<table class="table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditUser", new { id = item.Id }) |

                    @if (item.IsActive)
                    {
                        @Html.ActionLink("Disable", "DisableUser", new { id = item.Id })
                    }
                    else
                    {
                        @Html.ActionLink("Activate", "ActivateUser", new { id = item.Id })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
<div>
    @Html.ActionLink("Back to Admin Home", "Index", "Admin")
</div>
